.main-container {
  padding: 20px;
}

.servicios-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group .custom-select, .button-group .custom-button {
  margin-right: 10px;
}

.custom-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.custom-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.agregar {
  background-color: #28a745;
  margin-left: 10px;
}

.agregar:hover {
  background-color: #218838;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body {
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-footer {
  text-align: center;
}

.card-document {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-pagar {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-pagar:hover {
  background-color: #0056b3;
}


